################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chuong5_DangDatPhat_22521063/FileContentIndex/27e31367-d515-41af-92dc-0aed89290cd5.vsidx
/.vs/Chuong5_DangDatPhat_22521063/v17/.suo
